/* 示意背景，仅用作开发过程展示元素范围 */
.bg-red {
  background-color: red;
}
.bg-blue {
  background-color: blue;
}

/* 内容溢出 */
.overflow-hidden {
  overflow: hidden;
}

/* 宽度 */
.w-100 {
  width: 750rpx;
}

/* 透明度 */
.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

/* 外边距 */
// $m-num: ( 0: '0rpx', 1: '10rpx', 2: '20rpx', 3: '30rpx', 4: '40rpx', 5: '50rpx', 6: '60rpx', 8: '80rpx');
// .m {
//   @each $k, $v in $m-num {
//   	&-#{$k} {
//   		 margin: #{$v};
//   	}
//     &t-#{$k} {
//     	 margin-top: #{$v};
//     }
//     &r-#{$k} {
//     	 margin-right: #{$v};
//     }
//     &b-#{$k} {
//     	 margin-bottom: #{$v};
//     }
//     &l-#{$k} {
//     	 margin-left: #{$v};
//     }
//     &x-#{$k} {
//     	 margin-left: #{$v};
//     	 margin-right: #{$v};
//     }
//     &y-#{$k} {
//     	 margin-top: #{$v};
//        margin-bottom: #{$v};
//     }
//   }
// }
.m-0 {
  margin: 0rpx;
}
.mt-0 {
  margin-top: 0rpx;
}
.mr-0 {
  margin-right: 0rpx;
}
.mb-0 {
  margin-bottom: 0rpx;
}
.ml-0 {
  margin-left: 0rpx;
}
.mx-0 {
  margin-left: 0rpx;
  margin-right: 0rpx;
}
.my-0 {
  margin-top: 0rpx;
  margin-bottom: 0rpx;
}
.m-1 {
  margin: 10rpx;
}
.mt-1 {
  margin-top: 10rpx;
}
.mr-1 {
  margin-right: 10rpx;
}
.mb-1 {
  margin-bottom: 10rpx;
}
.ml-1 {
  margin-left: 10rpx;
}
.mx-1 {
  margin-left: 10rpx;
  margin-right: 10rpx;
}
.my-1 {
  margin-top: 10rpx;
  margin-bottom: 10rpx;
}
.m-2 {
  margin: 20rpx;
}
.mt-2 {
  margin-top: 20rpx;
}
.mr-2 {
  margin-right: 20rpx;
}
.mb-2 {
  margin-bottom: 20rpx;
}
.ml-2 {
  margin-left: 20rpx;
}
.mx-2 {
  margin-left: 20rpx;
  margin-right: 20rpx;
}
.my-2 {
  margin-top: 20rpx;
  margin-bottom: 20rpx;
}
.m-3 {
  margin: 30rpx;
}
.mt-3 {
  margin-top: 30rpx;
}
.mr-3 {
  margin-right: 30rpx;
}
.mb-3 {
  margin-bottom: 30rpx;
}
.ml-3 {
  margin-left: 30rpx;
}
.mx-3 {
  margin-left: 30rpx;
  margin-right: 30rpx;
}
.my-3 {
  margin-top: 30rpx;
  margin-bottom: 30rpx;
}
.m-4 {
  margin: 40rpx;
}
.mt-4 {
  margin-top: 40rpx;
}
.mr-4 {
  margin-right: 40rpx;
}
.mb-4 {
  margin-bottom: 40rpx;
}
.ml-4 {
  margin-left: 40rpx;
}
.mx-4 {
  margin-left: 40rpx;
  margin-right: 40rpx;
}
.my-4 {
  margin-top: 40rpx;
  margin-bottom: 40rpx;
}
.m-5 {
  margin: 50rpx;
}
.mt-5 {
  margin-top: 50rpx;
}
.mr-5 {
  margin-right: 50rpx;
}
.mb-5 {
  margin-bottom: 50rpx;
}
.ml-5 {
  margin-left: 50rpx;
}
.mx-5 {
  margin-left: 50rpx;
  margin-right: 50rpx;
}
.my-5 {
  margin-top: 50rpx;
  margin-bottom: 50rpx;
}
.m-6 {
  margin: 60rpx;
}
.mt-6 {
  margin-top: 60rpx;
}
.mr-6 {
  margin-right: 60rpx;
}
.mb-6 {
  margin-bottom: 60rpx;
}
.ml-6 {
  margin-left: 60rpx;
}
.mx-6 {
  margin-left: 60rpx;
  margin-right: 60rpx;
}
.my-6 {
  margin-top: 60rpx;
  margin-bottom: 60rpx;
}
.m-8 {
  margin: 80rpx;
}
.mt-8 {
  margin-top: 80rpx;
}
.mr-8 {
  margin-right: 80rpx;
}
.mb-8 {
  margin-bottom: 80rpx;
}
.ml-8 {
  margin-left: 80rpx;
}
.mx-8 {
  margin-left: 80rpx;
  margin-right: 80rpx;
}
.my-8 {
  margin-top: 80rpx;
  margin-bottom: 80rpx;
}

/* 边框 */
.border {
  border-width: 1rpx;
  border-style: solid;
}

.border-top {
  border-top-width: 1rpx;
  border-top-style: solid;
}

.border-right {
  border-right-width: 1rpx;
  border-right-style: solid;
}

.border-bottom {
  border-bottom-width: 1rpx;
  border-bottom-style: solid;
}

.border-left {
  border-left-width: 1rpx;
  border-left-style: solid;
}

.border-0 {
  border-width: 0 !important;
}

.border-top-0 {
  border-top-width: 0 !important;
}

.border-right-0 {
  border-right-width: 0 !important;
}

.border-bottom-0 {
  border-bottom-width: 0 !important;
}

.border-left-0 {
  border-left-width: 0 !important;
}

/* 圆角 */
.rounded {
  border-radius: 8rpx;
}

.rounded-lg {
  border-radius: 14rpx;
}

.rounded-top {
  border-top-left-radius: 8rpx;
  border-top-right-radius: 8rpx;
}

.rounded-top-lg {
  border-top-left-radius: 14rpx;
  border-top-right-radius: 14rpx;
}

.rounded-right {
  border-top-right-radius: 8rpx;
  border-bottom-right-radius: 8rpx;
}

.rounded-bottom {
  border-bottom-right-radius: 8rpx;
  border-bottom-left-radius: 8rpx;
}

.rounded-bottom-lg {
  border-bottom-right-radius: 14rpx;
  border-bottom-left-radius: 14rpx;
}

.rounded-left {
  border-top-left-radius: 8rpx;
  border-bottom-left-radius: 8rpx;
}

.rounded-circle {
  border-radius: 375rpx;
}

.rounded-0 {
  border-radius: 0;
}

/*  -- 内外边距 -- */
// $p-num: ( 0: '0rpx', 1: '10rpx', 2: '20rpx', 3: '30rpx', 4: '40rpx', 5: '50rpx', 6: '60rpx', 8: '80rpx');
// .p {
//   @each $k, $v in $p-num {
//   	&-#{$k} {
//   		 padding: #{$v};
//   	}
//     &t-#{$k} {
//     	 padding-top: #{$v};
//     }
//     &r-#{$k} {
//     	 padding-right: #{$v};
//     }
//     &b-#{$k} {
//     	 padding-bottom: #{$v};
//     }
//     &l-#{$k} {
//     	 padding-left: #{$v};
//     }
//     &x-#{$k} {
//     	 padding-left: #{$v};
//     	 padding-right: #{$v};
//     }
//     &y-#{$k} {
//     	 padding-top: #{$v};
//        padding-bottom: #{$v};
//     }
//   }
// }

.p-0 {
  padding: 0rpx;
}
.pt-0 {
  padding-top: 0rpx;
}
.pr-0 {
  padding-right: 0rpx;
}
.pb-0 {
  padding-bottom: 0rpx;
}
.pl-0 {
  padding-left: 0rpx;
}
.px-0 {
  padding-left: 0rpx;
  padding-right: 0rpx;
}
.py-0 {
  padding-top: 0rpx;
  padding-bottom: 0rpx;
}
.p-1 {
  padding: 10rpx;
}
.pt-1 {
  padding-top: 10rpx;
}
.pr-1 {
  padding-right: 10rpx;
}
.pb-1 {
  padding-bottom: 10rpx;
}
.pl-1 {
  padding-left: 10rpx;
}
.px-1 {
  padding-left: 10rpx;
  padding-right: 10rpx;
}
.py-1 {
  padding-top: 10rpx;
  padding-bottom: 10rpx;
}
.p-2 {
  padding: 20rpx;
}
.pt-2 {
  padding-top: 20rpx;
}
.pr-2 {
  padding-right: 20rpx;
}
.pb-2 {
  padding-bottom: 20rpx;
}
.pl-2 {
  padding-left: 20rpx;
}
.px-2 {
  padding-left: 20rpx;
  padding-right: 20rpx;
}
.py-2 {
  padding-top: 20rpx;
  padding-bottom: 20rpx;
}
.p-3 {
  padding: 30rpx;
}
.pt-3 {
  padding-top: 30rpx;
}
.pr-3 {
  padding-right: 30rpx;
}
.pb-3 {
  padding-bottom: 30rpx;
}
.pl-3 {
  padding-left: 30rpx;
}
.px-3 {
  padding-left: 30rpx;
  padding-right: 30rpx;
}
.py-3 {
  padding-top: 30rpx;
  padding-bottom: 30rpx;
}
.p-4 {
  padding: 40rpx;
}
.pt-4 {
  padding-top: 40rpx;
}
.pr-4 {
  padding-right: 40rpx;
}
.pb-4 {
  padding-bottom: 40rpx;
}
.pl-4 {
  padding-left: 40rpx;
}
.px-4 {
  padding-left: 40rpx;
  padding-right: 40rpx;
}
.py-4 {
  padding-top: 40rpx;
  padding-bottom: 40rpx;
}
.p-5 {
  padding: 50rpx;
}
.pt-5 {
  padding-top: 50rpx;
}
.pr-5 {
  padding-right: 50rpx;
}
.pb-5 {
  padding-bottom: 50rpx;
}
.pl-5 {
  padding-left: 50rpx;
}
.px-5 {
  padding-left: 50rpx;
  padding-right: 50rpx;
}
.py-5 {
  padding-top: 50rpx;
  padding-bottom: 50rpx;
}
.p-6 {
  padding: 60rpx;
}
.pt-6 {
  padding-top: 60rpx;
}
.pr-6 {
  padding-right: 60rpx;
}
.pb-6 {
  padding-bottom: 60rpx;
}
.pl-6 {
  padding-left: 60rpx;
}
.px-6 {
  padding-left: 60rpx;
  padding-right: 60rpx;
}
.py-6 {
  padding-top: 60rpx;
  padding-bottom: 60rpx;
}
.p-8 {
  padding: 80rpx;
}
.pt-8 {
  padding-top: 80rpx;
}
.pr-8 {
  padding-right: 80rpx;
}
.pb-8 {
  padding-bottom: 80rpx;
}
.pl-8 {
  padding-left: 80rpx;
}
.px-8 {
  padding-left: 80rpx;
  padding-right: 80rpx;
}
.py-8 {
  padding-top: 80rpx;
  padding-bottom: 80rpx;
}

/* flex 居中 */
.flex-center {
  display: flex !important;
  flex-direction: row !important;
  /* #ifndef APP-NVUE */
  box-sizing: border-box;
  /* #endif */
  align-items: center !important;
  justify-content: center !important;
}

/* flex 布局 */
.flex-row {
  display: flex !important;
  flex-direction: row !important;
  /* #ifndef APP-NVUE */
  box-sizing: border-box;
  /* #endif */
}

.flex-column {
  display: flex !important;
  flex-direction: column !important;
  /* #ifndef APP-NVUE */
  box-sizing: border-box;
  /* #endif */
}

.flex-row-reverse {
  display: flex !important;
  flex-direction: row-reverse !important;
  /* #ifndef APP-NVUE */
  box-sizing: border-box;
  /* #endif */
}

.flex-column-reverse {
  display: flex !important;
  flex-direction: column-reverse !important;
  /* #ifndef APP-NVUE */
  box-sizing: border-box;
  /* #endif */
}

/* #ifndef APP-NVUE */
.flex-shrink {
  flex-shrink: 0;
}
  /* #endif */

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.justify-start {
  justify-content: flex-start !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-around {
  justify-content: space-around !important;
}

.align-stretch {
  align-items: stretch !important;
}

.align-start {
  align-items: flex-start !important;
}

.align-end {
  align-items: flex-end !important;
}

.align-center {
  align-items: center !important;
}

.flex-1 {
  flex: 1 !important;
  overflow: hidden;
}

.flex-2 {
  flex: 2 !important;
  overflow: hidden;
}

.flex-3 {
  flex: 3 !important;
  overflow: hidden;
}

.flex-4 {
  flex: 4 !important;
  overflow: hidden;
}

.flex-5 {
  flex: 5 !important;
  overflow: hidden;
}

/* 定位 */
.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.position-sticky {
  position: sticky !important;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.position-full {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.position-top {
  top: 0;
  left: 0;
  right: 0;
}

.position-bottom {
  bottom: 0;
  left: 0;
  right: 0;
}

/* 文字类型 */
$ff: Helvetica;

.font-lg {
  font-family: $ff;
  font-size: 36rpx;
  line-height: 44rpx;
}

.font-md {
  font-family: $ff;
  font-size: 32rpx;
  line-height: 40rpx;
}
.font {
  font-family: $ff;
  font-size: 28rpx;
  line-height: 36rpx;
}
.font-small {
  font-family: $ff;
  font-size: 24rpx;
  line-height: 32rpx;
}
.font-smaller {
  font-family: $ff;
  font-size: 20rpx;
  line-height: 28rpx;
}
/* 斜体 */
.font-italic {
  font-style: italic;
}

/* 文字装饰 */
.text-through {
  text-decoration: line-through;
}

.text-underline {
  text-decoration: underline;
}

/* 文字对齐 */
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

/* 文字粗细 */
.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-900 {
  font-weight: 900;
}

/* 文字换行溢出处理 */
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  /* #ifndef APP-PLUS-NVUE */
  white-space: nowrap;
  /* #endif */
  /* #ifdef APP-PLUS-NVUE */
  lines: 1;
  /* #endif */
}

.text-ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  /* #ifdef APP-PLUS-NVUE */
  lines: 2;
  /* #endif */
}

.text-ellipsis-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  /* #ifdef APP-PLUS-NVUE */
  lines: 3;
  /* #endif */
}

.text-ellipsis-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  /* #ifndef APP-NVUE */
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  /* #endif */
  /* #ifdef APP-PLUS-NVUE */
  lines: 4;
  /* #endif */
}

/* 动画 */
.transition-width {
  transition-property: width;
}
.transition-height {
  transition-property: height;
}
.transition-top {
  transition-property: top;
}
.transition-bottom {
  transition-property: bottom;
}
.transition-left {
  transition-property: left;
}
.transition-right {
  transition-property: right;
}
.transition-bg {
  transition-property: background-color;
}
.transition-opacity {
  transition-property: opacity;
}
.transition-transform {
  transition-property: transform;
}

.duration-3 {
  transition-duration: 0.3s;
}
.duration-6 {
  transition-duration: 0.6s;
}
.duration-9 {
  transition-duration: 0.9s;
}

.delay-3 {
  transition-delay: 0.3s;
}
.delay-6 {
  transition-delay: 0.6s;
}
.delay-9 {
  transition-delay: 0.9s;
}


